---
import Section from "../../../components/section.astro";

import { twMerge } from "tailwind-merge";
import Servicos_NavTab from "./Servicos_NavTab";

export interface Props {
  id?: astroHTML.JSX.HTMLAttributes["id"];
  class?: astroHTML.JSX.HTMLAttributes["class"];
}

const { class: className, ...rest } = Astro.props;
---

<Section
  {...rest}
  class={twMerge("px-6 md:px-12 lg:px-24 xl:px-48", className)}
>
  <h2
    class="font-semibold leading-tight text-4xl mb-8 border-t-4 border-green-500"
  >
    Serviços
  </h2>

  <p>
    Oferecemos serviços comerciais, residenciais e industriais em Uberlândia e
    região. Contamos com mão de obra especializada, equipamentos próprios e
    prezamos sempre pela qualidade do serviço.
  </p>

  <Servicos_NavTab client:visible />
</Section>
