:root {
  --swiper-navigation-color: theme("colors.green[500]");
  --swiper-pagination-color: theme("colors.green[500]");
  --swiper-theme-color: theme("colors.green[500]");
  --swiper-preloader-color: theme("colors.green[500]");
}
